.header {
  position: relative;
  display: flex;
  height: 70px;
  width: 100%;
  background-color: var(--background-01);
  align-items: center; /* Căn giữa theo chiều dọc */
}
.headlogo{
  margin-left: 10px;
  margin-right: 25px;
}
.headbtn{
  width: 107px;
  height: 36px;
  border-radius: 6px;
  color: var(--text);
  background-color: var(--background-02);
  border: 0 none;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: 10px;

}
.headbtn:hover{
  background-color: var(--hover);
  cursor: pointer;
}

.headbtn.clicked{
  background-color: aliceblue;
  color: var(--background-01);
}

.searchInput{
  height: 36px;
  width: 460px;
  border: 0px none;
  background-color: white;
  color: "black";
  margin-left: 20px ;
  border-radius: 5px;
  padding-left: 25px;


}
.searchIcon{
  position: absolute;
  left: 25px;
  color: var(--background-01);
  top:50%;
  transform: translateY(-50%);
}

.btnContainer{
  display: flex;
  margin-left: auto;
  align-items: center;
  margin-right: 80px;  
}
.headbtn.themebtn{
  border-radius: 50%;
  width: 36px;
}