.novel-drop-zone {
	display:flex;
	width: 270px;
	height: 410px;

	border-radius: 17px;
	background: #eeeeee;
	align-items: center;
	justify-content: center;

	font-family: 'REM';
    font-size: 15px;
	font-weight: 100;

	text-align: center;
}

.hidden {
	display:none;
}