.Container {
    display: flex;
    height: 100%;
}

.SidebarContainer {
    width: 180px;
    height: 100%;
    margin: 8px;
    background-color: var(--background-02);
    flex-direction: column;
    display: flex;
}

.SidebarItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.SidebarItem {
    color: var(--text);
    font-size: 18px;
    padding: 16px;
    font-weight: 500;
    transition: background-color 0.5s ease;
}

.SidebarItem.active {
    background-color: var(--background-01)
}

.SidebarItem:hover {
    cursor: pointer;
}

.ManagementContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    padding: 12px;
}

.ManagementContainer h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--background-01);
    margin: 0;
}

.StatisticsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.Statitic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border: 1px solid var(--background-01);
    border-radius: 8px;
}

.Statitic .Title {
    font-size: 16px;
    font-weight: 600;
    color: var(--background-01);
    padding: 4px;
    border-bottom: 1px solid var(--background-01);
}

.Statitic .Number {
    font-size: 64px;
    font-weight: 600;
    color: var(--background-01);
    padding: 4px;
}

.ManagementContainer .ant-spin-container {
    height: auto;
    width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MyTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.RowTitle {
    font-size: 16px;
    color: var(--background-01);
}

td {
    width: 280px;
}