/* GenreList.css */

.genreListContainerStyle {
    position: fixed;
    top: 70px;
    left: 120px;
    width: 180px;
    background-color: var(--background-02);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 10px;
    z-index: 1000;
    
  }
  
  .genreListStyle {
    border: none;
    font-size: 16px;
    height: 40px;
    width: 100%;
    background-color: var(--background-01);
    color: var(--text);
    border-radius: 5%;
    margin-bottom: 10px;
    box-shadow: 0px 2px 4px rgb(0,0,0,0.2);
    transition: background-color 0.3s; /* Smooth transition effect */
}

.genreListStyle:hover {
  background-color: var(--hover); /* Change the background color on hover */
  cursor: pointer; /* Show a pointer cursor on hover */
  color: var(--text)
}
  