/* YourComponent.css */

.UserNavContainerStyle {
    position: fixed;
    top: 70px;
    left: 81%;
    width: 200px;
    background-color: var(--background-02);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }

 
  .func{
    color: var(--text);
    align-items: center;
    display:flex;
    padding: 15px 20px 15px 30px;
    gap: 7px;
    transition:  background-color 0.7s ease;
  }
  .func.user{
    padding: 0px;
    color: var(--background-02);
    background-color: var(--text);
    font-weight: normal;
    
  }
  .func.user:hover{
    color: var(--text);
    background-color: gray;
    cursor: pointer;

  }
  .func:hover{
    background-color: var(--hover);
    cursor: pointer;
  }
  .authorIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    margin-right: 0px;
  }
  .func.logout{
    color: rgb(6, 6, 6);
  }
