.SignInZone {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    height: 100vh;
    flex-direction: column;
    gap: 10px; /* Add some spacing between elements */

  }
  
.Greenlogo {
    width: 173px;
    height: 55.19px;

}
  
  .SignInCard {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 582px;
    height: auto; /* Adjust this as needed */
    background-color: white;
    border-radius: 22px;
    border: 2px solid var(--background-02);
  
  
    padding: 30px; 
    /* Add padding to create space around elements */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
  .titleBar{
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    background-color: var(--background-02);
    height: 43px;
    width: 550px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    position: relative;
    margin-top: 20px;
  
  
  }
  
  .text{
    color: var(--background-02);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
  }
  .inputContainer{
      display: flex;
      align-items: center;
      position: relative;
  
  }
  .icon{
      color: var(--background-02);
      font-size: 30px;
      padding-right: 10px;
  }
  .inputField{
      padding-left: 20px;
      width: 490px;
      height: 38px;
  
  }
  .btnSign{
    font-weight: bold;
    color: aliceblue;
    border-radius: 6px;
    font-size: 18px;
    width: 264px;
    height: 43px;
    background-color: var(--background-01);
    transition: background-color 0.3s;
    margin-top: 30px;
  }
  .btnSign:hover{
  background-color: var(--hover); /* Màu nền hover */
    cursor: pointer; 
  }