.paginaton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;
}

button {
    background-color: var(--background);
    color: #515151;
    border-style: none;
    font-size: 12px;
}

button:hover {
    color: var(--background-01);
    border-style: none;
    cursor: pointer;
}