.author-item {
    display: flex;
    width: 16vw;
    height: 10vh;
    padding: 10px 10px;
    align-items: center;
    gap: 1vw;
    border-radius: 14px;
    background-color: var(--background);
}
.author-item:hover {
    background-color: var(--background-02);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.author-item:hover .info {
    background-color: var(--background-02);
    color: var(--text);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.author-item:hover .info .tag .author-info {
    background-color: var(--text);
    color: var(--background-01);
    cursor: pointer;
}

.author-item .ava-container {
    width: 4vw;
    height: 4vw;
    overflow: hidden;
    border-radius: 50%;
}

.author-item .ava-container img {
    height: 100%;
    object-fit: cover;
}

.author-item .info {
    flex: 1; /* Sử dụng flex để phần tử .info mở rộng theo chiều dọc */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    background-color: var(--background);
    color: var(--text-name);
    font-weight: bold;
    font-size: 14px;
}

.author-item .info .author-username {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Số dòng hiển thị */
    -webkit-box-orient: vertical;
    font-style: bold;
    text-align: left;
    margin: 0;
}

.author-item .info .tag {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.author-item .info .tag .author-info {
    display: flex;
    color: var(--text);
    background-color: var(--background-02);
    font-family: "REM";
    font-size: 12px;
    border-radius: 6px;
    height: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
}

.author-item .info .author-username {
    margin: 0;
}
