.side-bar {
    display: flex;
    width: 384px;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    right: 0;
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}

.search-frame {
    width: 100vw;
    height: 1200px;
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
}