@import url('https://fonts.googleapis.com/css2?family=REM&display=swap');

:root {
    --warning_color_red: #EF5634;

    --text: white;
    --text_reading: black;
    --background: white;
    --background-01: #0B886D;
    --background-02: #1EAE91;
    --hover: #57C2AE;
    --text-name: #0B886D;
    --base-font-size: 100px;
    --page-width: 1440px; /* Đặt biến cho chiều rộng trang */

}

[data-theme='dark'] {
    --warning_color_red: #EF5634;

    --text: white;
    --text_reading: #d2d2d2;
    --background: #18191A;
    --background-01: #333333;
    --background-02: #515151;
    --hover: #727273;
    --text-name: white;
}   

.app {
    background-color: var(--background);
    width: 100%;
    height: 100%;
}

.click {
    color: var(--text);
    background-color: var(--background-02);
    font-family: 'REM';
    font-size: 100px;
    outline: none;
    border-radius: 9px;
}

.click:hover {
    color: var(--text);
    background-color: var(--background-02);
    font-family: 'REM';
    font-size: 1vw;
    border-radius: 0.5vw;
    border: none;
    padding: 0.5vw 1vw;
}

.reaction:hover {
    background-color: var(--hover);
    cursor: pointer;
}

