:root {
    --warning_color_red: #EF5634;
    
    --text: white;
    --text_reading: black;
    --background: white;
    --background-01: #0B886D;
    --background-02: #1EAE91;
    --hover: #57C2AE;
}

[data-theme ='dark'] {
    --warning_color_red: #EF5634;

    --text: white;
    --text_reading: #d2d2d2;
    --background: #18191A;
    --background-01: #333333;
    --background-02: #515151;
    --hover: #727273;
}