.container {
    display: flex;
    width: 20vw;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.title {
    color: var(--text-name);
    text-align: left;
    margin-bottom: 2px;
    margin-top: 0px;
    align-self: stretch;
}
.list {
    width: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    background-color: var(--background);
    border-style: solid;
    border-color: var(--background-02);
    border-width: 3px;
    border-radius: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
}
