.edit-chapter {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-family: 'REM';
	font-weight: 900;
	color: var(--text-name);
	width: 70rem;
	margin-top: 70px;
	gap:40px;
	padding-bottom: 300px;
}

.edit-button, .delete-button {
	width: 40px;
	height: 40px;	
	border-radius: 50%;
	background-color: var(--background-01);
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all ease 0.15s;
}
.delete-button {
	background-color: var(--detete, #EF5634);;
}
.edit-button:hover {
	background-color: var(--hover);	
}
.delete-button:hover {
	background-color: var(--hover-delete, #EF7458);
}

.save-cancel-button-group {
	display: flex;
	justify-content: space-between;
	width: fit-content;
	gap:20px;
}

.chapter-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	/* border: solid 2px var(--background-02); */
	/* border-radius: 17px; */
}

.chapter-hor {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: inherit;
}


.chapter-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'REM';
	font-weight: 900;
	color: var(--text-name);
	width: 70rem;
	margin-top: 70px;
	gap:20px;
}

.input-box {
	display:block;
	border-radius: 12px;
	width: 100%;
	border: 2px solid var(--background-02);
	background: var(--background);

	font-family: 'REM';
	font-size: 17px;
	font-style: normal;
	line-height: 1.2;

	box-sizing: border-box;
	overflow-x: hidden;

	resize:none;
	
	transition: ease all 0.16s;
}

.input-box::-webkit-scrollbar {
	width: 8px;
}

.input-box::-webkit-scrollbar-thumb {
	background: var(--background-02);
	border-radius: 10px;
}

.input-box:focus {
	outline: none;
	box-shadow: 0 0 1px 0.5px var(--background-01),
				0 0 2px 1px var(--background-02);
}

.message-text {
	font-size: 30px;
	font-family: 'REM';
	font-weight: 100;
	align-self: center;
}