.ViewCardContainer {
    font-family: 'REM';
    width: 860px;
    padding: 8px;
    display: flex;
    justify-content: stretch;
    gap: 8px;
    flex-direction: row;
    border-style: solid;
    border-radius: 8px;
    border-color: var(--background-01);
}

.ViewCardInteract {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ViewCardInteract img {
    width: 200px;
    height: 300px;
}

.ViewCardButton {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ViewCardButtonInteract {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ViewCardButtonInteract Button {
    display: flex;
    font-size: 12px;
    width: 48%;
    gap: 8px;
    justify-content: center;
}

.ViewCardInfoContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 8px;
    border-style: none none none solid;
    border-color: var(--background-01);
    border-width: 1px;
}

.ViewCardInfoList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    color: var(--background-01);
    margin: 0;
}

.author {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 2px;
    border-radius: 8px;
}

.author:hover {
    background-color: var(--background-01);
    cursor: pointer;
}

.author:hover p {
    color: var(--text);
}

.author img {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

.author p {
    font-size: 16px;
    font-weight: 600;
    color: var(--background-01);
    margin: 0;
}

.GenreList {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.genre {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--background-01);
    color: var(--text);
    border-radius: 8px;
    padding: 4px 8px;
}

.script {
    font-family: 'REM';
    font-weight: 500;
    max-height: 180px;
    font-size: 16px;
    color: var(--background-01);
    margin: 0;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--background-02);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-01);
}

.NovelReact {
    display: flex;
    flex-direction: row;
    gap: 12px;
    color: var(--background-01);
    font-size: 16px;
}

.react {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.ViewCardChapterList {
    font-family: 'REM';
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-color: var(--background-01);
    border-style: solid;
    align-items: center;
}

.ViewCardChapterList p {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    background-color: var(--background-01);
    padding: 4px 0;
}

.ViewCardChapterList .ant-spin-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ViewCardChapterList .ant-table-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ViewCardChapterList .ant-table-thead {
    display: none;
}

.ViewCardChapterList .ant-table-row > td {
    padding: 0 !important;
}

.Chapter {
    font-size: 14px;
    padding: 4px;
    color: var(--background-01);
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.Chapter:hover {
    color: var(--text);
    background-color: var(--background-01);
    cursor: pointer;
}

.ant-pagination {
    width: 100%;
    margin: 0 !important;
    padding: 4px !important;
    justify-content: center !important;
}

.ant-pagination-item {
    border: none !important;
    height: fit-content !important;
}

.ant-pagination-item-active a {
    color: var(--background-01) !important;
}

.loading {
	width: 20%;
	height: 20%;
	margin: auto;
}