.SettingZone{
    display: flex;
    height: 100vh;
}
.SettingNav{
    width: 300px;
    height: 100%;   
    background-color: var(--background-02);
    flex-direction: column; /* Xếp các mục theo chiều dọc */
    display: flex;
}
.SettingChoice{
    color: var(--text);
    font-size: 18px;
    padding: 20px 0px 20px 50px;
    transition: background-color 0.3s ease; /* Hiệu ứng khi hover */
}
.SettingChoice:hover{
    cursor: pointer;
}

.selected {
  background-color: var(--background-01); /* Màu nền khi đã chọn */
}
.MainContent{
    display: flex; 
    margin-top: 70px;
}

.AvaContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 0px 10px 50px;
}
.UserAva{
    width: 226px;
    height: 226px;
    border-radius: 50%;
    object-fit:cover;
    margin-bottom: 10px;
    
}

.InfoContainer{
    display: flex;
    flex-direction: column; /* Xếp các phần tử theo chiều dọc */
    margin-left: 20px; /* Khoảng cách giữa AvaContainer và InfoContainer */

};
.text{
    font-size: 15px;
    color: var(--background-01);
    margin-top: 10px;
}

.inputField{
    margin-top: 10px;
    margin-left: 40px;
    border-radius: 15px;
    border: 1px solid var(--background-02);
}
.inputField.bio {
    height: 100px;
    border-radius: 20px;

}
.btnFuncContainer{
    display: flex;
    margin-left: 310px;
    

}
.funcbtn{
    width: 100px;
    height: 35px;
    border-radius: 11px;
    margin-top: 30px;
    background-color: var(--background-02);
    color: var(--text);
    margin-left: 20px;
    font-weight: bold;
    font-size: 15;
    border: none;
    transition: 0.3s ease;

}
.funcbtn:hover{
    background-color: var(--hover);
    cursor: pointer;
}
.funcbtn.cancel{
    background-color: #EF5634;
    transition: 0.3s ease;
}
.funcbtn.cancel:hover{
    background-color: rgb(237, 193, 135);
    cursor: pointer;
}
.MainContent.Account{
    margin-top: 30px;
}
.text.h1{
    font-size: 25px;
    margin-bottom: 0px;
    color: var(--background-01);
}
.hrline {
    border: none;
    margin-left: 40px;
    border-top: 1px solid var(--background-01); /* Đổi màu cho đường gạch ngang */
  }
  .text.small{
    font-size: 13px;
  }

  .btnFuncContainer.ser{
    margin-top: 0px;
    margin-left: 20px;
  }
  .funcbtn.delete{
    background-color: #EF5634;
    transition: 0.3s ease;
    margin-left: 40px;
    margin-top: 20px;
    width: 130px;
    height: 35px;
    
  }
  .funcbtn.delete:hover{
    background-color: rgb(237, 193, 135);
    cursor: pointer;
  }